<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bird_forum.mapper.ArticleMapper">
    <resultMap id="article" type="com.bird_forum.domain.po.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="context" property="context" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <select id="listArticles" resultType="com.bird_forum.domain.vo.ArticleVO"
            parameterType="com.bird_forum.domain.query.ArticleQuery">
        select a.id, a.title, a.context, a.publisher_id, u.username as `publisher_name`, u.avatar as `avatar`, a.image, a.status, a.is_illegal as `is_illegal`, a.like_num, a.create_time, a.update_time
        from article as a left join user as u on a.publisher_id = u.id left join article_category as ac on a.id = ac.article_id left join category as c on ac.category_id = c.id
        <where>
            <if test="keyword != null and keyword !=''">
                and (a.title like concat('%', #{keyword}, '%') or a.context like concat('%', #{keyword}, '%'))
            </if>
            <if test="category != null">
                and c.name like concat('%', #{category}, '%')
            </if>
            <if test="title != null and title != ''">
                and a.title like concat('%', #{title}, '%')
            </if>
            <if test="context != null and context != ''">
                and a.context like concat('%', #{context}, '%')
            </if>
            <if test="publisherName != null and publisherName != ''">
                and u.username like concat('%', #{publisherName}, '%')
            </if>
            <if test="violationStatus != null and violationStatus != ''">
                and a.is_illegal = #{violationStatus}
            </if>
            <if test="status != null and status != ''">
                and a.status = #{status}
            </if>
        </where>
        order by a.create_time desc, a.like_num desc
    </select>
    <select id="listHotArticleList" resultType="com.bird_forum.domain.vo.ArticleVO">
        select a.id, a.title, a.context, a.publisher_id, u.username as `publisher_name`, u.avatar as `avatar`, a.image, a.status, a.like_num, a.create_time, a.update_time
        from article as a left join user as u on a.publisher_id = u.id left join article_views as v on a.id = v.article_id
        order by v.view_count desc
        limit 10
    </select>
    <select id="getById" resultType="com.bird_forum.domain.vo.ArticleVO">
        select a.id, a.title, a.context, a.publisher_id, u.username as `publisher_name`, u.avatar as `avatar`, a.image, a.status, a.like_num, a.create_time, a.update_time
        from article as a left join user as u on a.publisher_id = u.id left join article_views as v on a.id = v.article_id
        <where>
            a.id = #{id}
        </where>
    </select>
    <select id="listByPublisher" resultType="com.bird_forum.domain.vo.ArticleVO">
        select a.id, a.title, a.context, a.publisher_id, u.username as `publisher_name`, u.avatar as `avatar`, a.image, a.status, a.like_num, a.create_time, a.update_time
        from article as a left join user as u on a.publisher_id = u.id
        where a.publisher_id = #{userId}
        order by a.create_time desc
    </select>
    <select id="listCollected" resultType="com.bird_forum.domain.vo.ArticleVO">
        select a.id, a.title, a.context, a.publisher_id, u.username as `publisher_name`, u.avatar as `avatar`, a.image, a.status, a.like_num, a.create_time, a.update_time
        from article as a
        left join user as u on a.publisher_id = u.id
        inner join article_like_collection as alc on a.id = alc.article_id
        where alc.user_id = #{userId} and alc.type = 2
        order by a.create_time desc
    </select>
</mapper>
