<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bird_forum.mapper.NoticeMapper">

    <resultMap id="BaseResultMap" type="com.bird_forum.domain.po.Notice">
            <id property="id" column="id" />
            <result property="title" column="title" />
            <result property="context" column="context" />
            <result property="type" column="type" />
            <result property="createTime" column="create_time" />
            <result property="createBy" column="create_by" />
            <result property="updateTime" column="update_time" />
            <result property="updateBy" column="update_by" />
    </resultMap>

    <sql id="Base_Column_List">
        id,title,context,type,create_time,create_by,
        update_time,update_by
    </sql>
</mapper>
