<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bird_forum.mapper.ReportMapper">

    <select id="list" resultType="com.bird_forum.domain.vo.ReportVO">
        select t1.*, t2.username as `reporter_name`, t3.context as `reason` from `report` as t1 left join `user` as t2
        on t1.reporter_id = t2.id left join `report_reason` as t3 on t1.reason_id = t3.id
        <where>
            <if test="reporter != null and reporter != ''">
                and t2.username like concat('%', #{reporter}, '%')
            </if>
            <if test="reasonId != null">
                and t1.reason_id = #{reasonId}
            </if>
            <if test="targetType != null and targetType != ''">
                and t1.target_type = #{targetType}
            </if>
            <if test="status != null and status != ''">
                and t1.status = #{status}
            </if>
        </where>
    </select>
</mapper>
