<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bird_forum.mapper.UserMapper">
    <resultMap id="userVO" type="com.bird_forum.domain.vo.UserVO">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="account" column="account"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="message" column="message"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="userFollowVO">
        select u.id, u.username, u.account, u.sex, u.avatar, u.message, u.status, u.create_time
        from user as u
    </sql>

    <select id="listFans" resultMap="userVO">
        <include refid="userFollowVO" />
        inner join follow as f on u.id = f.follower_id
        <where>
            <if test="targetId != null">
                and f.target_id = #{targetId}
            </if>
        </where>
    </select>

    <select id="listFollowers" resultMap="userVO">
        <include refid="userFollowVO" />
        inner join follow as f on u.id = f.target_id
        <where>
            <if test="followerId != null">
                and f.follower_id = #{followerId}
            </if>
        </where>
    </select>
</mapper>
